<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-09-01T08:12:39Z</date>
	<key>WorkspacePath</key>
	<string>/Users/filipmolcik/Documents/sketch-elements/sketch-elements.xcodeproj</string>
</dict>
</plist>
